.SectionWrapper {
    .Alert {
        &:empty:before {
            content: attr(placeholder);
            color: #aaa;
        }
        &:not(:empty):focus:before {
            content: '';
        }
    }
    .ImageCaption {
        &:empty:before {
            content: attr(placeholder);
            color: #aaa;
        }
        &:not(:empty):focus:before {
            content: '';
        }
    }

    blockquote {
        position: relative;
        margin-bottom: 25px;
        letter-spacing: 0.02rem;
        line-height: 1.5em;
        &:before {
            content: '';
            width: 3px;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: -28px;
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}
